.connection {
    background-color: #262626;
    color: $text-color;
    padding: 100px 0;

    &__heading {
        color: $text-color;
        font-size: 4.0625rem;
        text-align: center;
    }

    &__schedule-work {
        margin-bottom: 60px;
        color: #B1B1B1;
        font-size: 1.5625rem;
        font-weight: 300;
    }
}

.contacts {
    margin: 60px 0;

    &__icon {
        display: block;
        padding: 30px;
        color: $text-color;
        font-weight: 300;
        font-size: 2.1875rem;
        line-height: 1.5px;
    }
}

@media screen and (max-width: 1024px) {
    .connection {
        padding: 80px 0;

        &__heading {
            font-size: 3.125rem;
        }

        &__schedule-work {
            margin-bottom: 50px;
            font-size: 1.125rem;
        }
    }

    .contacts {
        margin: 50px 0;

        &__icon {
            font-size: 1.5625rem;
            padding: 20px;
        }
    }
}


@media screen and (max-width: 768px) {
    .connection {
        padding: 70px 0;

        &__heading {
            font-size: 2.5rem;
        }

        &__schedule-work {
            margin-bottom: 40px;
            font-size: 1.125rem;
        }
    }

    .contacts {
        margin: 40px 0;

        &__icon {
            font-size: 1.375rem;
        }
    }
}