.header {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 3.125rem;
    background: rgba(0, 0, 0, 0.42);
    color: $text-color;
    padding: 44px 359px 45px 372px;
    text-align: center;
}

@media screen and (max-width: 1440px) {
    .header {
        padding: 44px 132px 45px 118px;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 42px 13px 31px 13px;
        height: 70px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 8px 24px 13px 8px;
        height: 60px;
    }
}

@media screen and (max-width: 500px) {
    .header {
    flex-direction: column;
}
}